{% extends 'base_question.html' %}
{% block title %}
{{ title }}
{% endblock %}
{% block body %}
<body>
<div>
    <h1>{{title}} (id = <var id="id">{{id}}</var>)</h1>
    <div id="question">
        <p>{{question.title}}</p>
        <p>Ответ(ы):</p>
        {% for answer in question.answers %}
            <p>{{answer.title}}</p>
        {% endfor %}
    </div>
    </div>
    <div id="question">
            <form method="post" action="/quiz.update_question" name="myForm" >
                <label for="title">Новый текст вопроса: </label>
                <input class="form__input" type="text" name="title" value = "{{question.title}}"/><br />
                <label for="answers">Новый ответ :</label>
                <input class="form__input" type="text" name="answers" /><br />
                <label for="delete_old_answers">Удалить старые ответы (по умолчанию "Нет"):</label>
                <input class="form__input" type="radio" name="delete_old_answers" style="width: 2%;" />Да
                <input class="form__input" type="radio" name="delete_old_answers" style="width: 2%;" />Нет<br />
                <input class="form__button" value="Изменить вопрос" type="button" onclick="submitform()"/>
            </form>
        </div>
    </div>
</div>
</body>
{% endblock %}
{% block script %}
<script type="text/javascript">
    function submitform(){
        var id = document.getElementById("id").innerHTML;
        let form = document.forms[0];
        if (!form.title.value && !form.answers.value) alert("Вы забыли указать одно из полей!")
        else {
            const r = document.querySelectorAll('input[name="delete_old_answers"]');
            if(r[0].checked) delete_answs = true;
            else delete_answs = false;
            var data = {
                "id": id,
                "title": form.title.value,
                "answers": [
                    {
                        "title": form.answers.value
                    }
                ],
                "delete_answers": delete_answs
            };
            var xhr = new XMLHttpRequest();
            xhr.open(form.method, form.action, true);
            xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
            var status;
            xhr.onload = () => {
                status = xhr.status;
                if (status != '200') alert("Произошла ошибка!");
                else alert("Впорос успешно изменён");
            };
            xhr.send(JSON.stringify(data));   
        }  
    }
</script>
{% endblock %}