{% extends 'base_form.html' %}
{% block title %}
{{ title }}
{% endblock %}
{% block body %}
<body>
<div>
    <h1>{{title}}</h1>
    <div id="main">
        <p>(Введите текст вопроса или его id)</p>
            <form method="post" action="/quiz.question/?" name="myForm" >
                <label for="title">Текст вопроса: </label>
                <input class="form__input" type="text" name="title" /><br />
                <label for="id">id вопроса :</label>
                <input class="form__input" type="text" name="id" /><br />
                <input class="form__button" value="Найти вопрос" type="button" onclick="submitform()"/>
            </form>
        </div>
    </div>
</div>
</body>
{% endblock %}
{% block script %}
<script type="text/javascript">
    function submitform(){
        let form = document.forms[0];
        form.action = form.action + "id=" + form.id.value + "&" + "title=" + form.title.value;
        window.location.href = form.action;
    }
</script>
{% endblock %}